#into{
    height: calc(100vh -4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

.bg{
    position: absolute;
    z-index: -1;
    top: -4rem;
    right: 0;
    object-fit: cover;
    height: 100vh;
}

.introcontent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
    color: #b7b7b7;
}

.introname{
    color: #ffd700;
}
.intopara{
    margin: 15px 0;
    font-size: medium;
    font-weight: 300;
    color: #f8f8f8f1;
    letter-spacing: 1px;
}

.btn{
    background: #fff;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    color: #000;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.btnimg{
    object-fit: contain;
    margin: 0 0.25rem;
    height: 1.5rem;
}

@media (max-width: 840px) {
    .bg{
        right: -10vw;
    }
    .introcontent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }
}

@media (max-width: 480px) {
    .bg{
        right: -20vw;
    }
}