#skills {
    min-height: calc(100vh - 4rem);
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 120px;
}

.skillsTitle {
    font-size: 3rem;
    font-weight: 600;
    /* padding-top: 3rem; */
    margin-bottom: 1.5rem;
}

.skillDiscribtion {
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    color: #f8f8f8f1;
}

.sikksbars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.sikksbars h2 {
    margin-bottom: 0.5rem;
}

.skillbar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(50, 50, 50);
}

.skillbarimg {
    width: 3rem;
    margin-right: 2rem;
    height: 3rem;
    object-fit: cover;
}

.skillbartext {
    font-size: 0.9rem;
    font-weight: 200;
}

.skillbartext p {
    color: #f8f8f8f1;
}

@media (max-width: 720px) {
    .skillbartext p {
        font-size: 2vw;
    }
}

@media (max-width: 480px) {
    .skillbartext p {
        font-size: 2.5vw;
    }

    .skillbarimg {
        height: 2.25rem;
        width: 2.25rem;
        margin-right: 10px;
    }

    .skillbartext {
        font-size: 4vw;
    }

    .skillbar {
        padding: 1.2rem 0.7rem;
    }
}