.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    border-radius: 50px;
}

.logocontact {
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;
}

.active{
    color: #ffd700;
    border-bottom: 3px solid #ffd700;
    padding-bottom: 0.5rem;
}

.navber {
    /* border: solid; */
    background-color: rgb(34, 34, 34);
    /* overflow: hidden; */
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* .desktopmemu{

} */

.desktopmenulistitem {
    margin: 1rem;
    cursor: pointer;
    position: relative;
    color: white;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.desktopmenulistitem::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffd700;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
}

.desktopmenulistitem:hover {
    color: #ffd700;
    padding: 0;
    padding-bottom: 0.5rem;
}

.desktopmenulistitem:hover::after {
    transform: scaleX(1.1);
}

.desktopmemubuttom {
    border: none;
    background: #fff;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.navmenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}

.mobmenu{
    display: none;
    object-fit: cover;
    height: 3rem;
    width: 2.5rem;
}

.listitem{
    color: #fff;
    padding: 0.5rem 2rem;
    margin: 0.25rem;
    background-color: rgb(30,30,30);
}



@media (max-width: 720px) {
    .mobmenu{
        display: flex;
    }
    .desktopmemu{
        display: none;
    }
    .desktopmemubuttom{
        display: none;
    }
}