#works{
    min-height: calc(100vh -4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 0 4rem;
    margin-top: 80px;
}

.worksTtle{
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDiscription{
    font-weight: 300;
    font-size: 1rem;max-width: 45rem;
}

.worksimages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.worksimg{
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    margin: 0.5rem;
}


.worksbtn{
    background: #8b780e; 
    margin: 1rem 0;
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
    color: #ffffff; 
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.worksbtn:hover{
    background-color: #ac940a 
}

.worksbtn a{
    color: #000000;

}

@media (max-width: 580px) {
    .worksimg{
        height: 50vw;
        width:  50vw;
    }
}